<h5>ng-If Directive</h5>
<!-- Old Technique -->
<div *ngIf="list.length > 0">
  <p> We have an list;</p>
</div>
<div *ngIf="list.length == 0">
 <p> We don't have an list;</p>
</div>

<!-- Use if else -->
<!-- <div *ngIf="list.length > 0;then islist else noList" ></div>
<ng-template #isList>
  <p> We have an list</p>
</ng-template>
<ng-template #noList>
  <p> We don't have an list</p>
</ng-template> -->

<h5>Another way to show and hide list usign [hiddden] attribute</h5>
<div [hidden]="list.length <= 0">
  <p> We have an list;</p>
</div>
<div [hidden]="list.length > 0">
 <p> We don't have an list;</p>
</div>
<br>
<h5>ng-switch Directive</h5>
<div class="nav nav-tabs">
  <li class="nav-item"><a [class.active]="viewMode =='map'" (click)="viewMode='map'" class="nav-link" >Tab1</a></li>
  <li class="nav-item"><a  [class.active]="viewMode =='list'" (click)="viewMode='list'" class="nav-link" >Tab2</a></li>
</div>
<div [ngSwitch]="viewMode">
  <div *ngSwitchCase="'map'">
    <div  class="card card-body">
        This is Map body...
    </div>
  </div>
  <div *ngSwitchCase="'list'">
    <div class="card card-body">
      This is List body...
    </div>
  </div>
  <div *ngSwitchDefault >Otherwise</div>
</div>
<br>

<h5>The ngFor Directive</h5>
<button type="button" (click)="loadContact()" class="btn btn-success  col-md-2">Load Contact</button>  
<button type="button" (click)="addContact()" class="btn btn-info col-md-2">Add Contact</button>

<div class="card card-body">
    <table class="table table-hover">
      <thead>
        <tr>
          <th>Sr.</th>
          <th>Name</th>
          <th>Remove</th>
          <th>Update</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of contact trackBy: trackContact ; let i = index ; let isEven = even; let isOdd = odd ">
          <td>{{i}}</td>
          <td> {{item.name}}
             <span *ngIf="isOdd"><i class="fa fa-child" aria-hidden="true"></i></span> 
             <span *ngIf="isEven"><i class="fa fa-smile-o" aria-hidden="true"></i></span> 
          </td>
          <td>
              <span class="badge badge-danger" (click)="deleteContac(item)">Remove</span>
          </td>
          <td>
              <span class="badge badge-warning" (click)="updateContac(item)">Update</span>
          </td>
        </tr>
      </tbody>
    </table> 
    
    <!-- trackBy: id > is helpfull when we load object in memory, if object in memory it will not load again  -->
    <!-- <ul>
      <li *ngFor="let item of contact trackBy:trackContact">
        {{item.name}}
      </li>
    </ul> -->
  </div>
  





